body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #000000;
    margin: 0;
    padding: 0;
  }
  
  header, footer {
    background-color: #ff7b00;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
  }
  
  h1, h2, h3 {
    margin: 0.5em 0;
  }
  
  .titulo {
    margin: 20px 0;
  }
  
  .menu {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  .imagenes-redes-sociales {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .contacto {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  .contacto img {
    width: 80px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .contacto .detalles {
    text-align: left;
  }
  
  .whatsapp {
    background-color: #01bb01;
    color: #ffffff;
  }
  
  .facebook {
    background-color: #4a5aee;
    color: #ffffff;
  }
  
  .instagram {
    background-color: #fa26fa;
    color: #ffffff;
  }
  
  .dueños {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  .dueño {
    margin: 10px 0;
  }
  
  footer p {
    margin: 0;
  }
  