
/* Este es un comentario de una línea en CSS */
/* Estos son lso estrilos Externos del HTML*/
body {
    /* el fondo conn letra y fondo*/
    font-family: Arial Black , sans-serif;
    background-color: #b4b2b2;
    color: #e95d33;
}
/* Todos los Tipos H1 */
h1 {
    color: rgb(250, 25, 25);     
}
h2{
    color: rgb(250, 25, 25);
}

h3 {
    color: rgb(250, 25, 25);
}
h4{
    color: rgb(250, 25, 25);
}
h5{
    color: green;

}
P{

    color: black;
}


/* agrege este comentario porque  no me deja gardar, nose-->