/* Este es un comentario de una línea en CSS */
/* Estos son los estilos Externos del HTML*/

/* Estilo para el encabezado */
.header {
    text-align: center; /* Centra el texto horizontalmente */
    padding: 40px; /* Añade espacio alrededor del contenido */
    background-color: #f57e3a; /* Color de fondo naranja */
}

/* Estilo para los enlaces de la navegación */
nav a {
    color: #fff; /* Color de texto blanco */
    padding: 20px; /* Añade espacio alrededor del texto */
    font-size: 20px; /* Tamaño de fuente */
    text-decoration: none; /* Elimina la decoración por defecto */
}

/* Contenedor para las fotos y el texto */
.contenedor {
    display: flex; /* Utiliza el diseño flexbox */
    margin-bottom: 20px; /* Añade margen inferior */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

/* Imagen dentro del contenedor */
.contenedor img {
    max-width: 100%; /* Limita el ancho de la imagen al contenedor */
    max-height: 100%; /* Limita la altura de la imagen al contenedor */
}

/* Sección de la imagen */
.imagen {
    flex: 1; /* Ocupa todo el espacio disponible */
    margin-left: 20px; /* Añade margen derecho */
}

/* Sección del texto */
.texto {
    flex: 2; /* Ocupa el doble de espacio que la imagen */
    padding: 20px; /* Añade espacio alrededor del texto */
    color: rgb(255, 27, 27); /* Color de texto rojo */
    font-family: 'Arial Black', sans-serif; /* Tipografía Arial Black */
}

/* Contenedor para los botones de reacción */
.photo-container {
    margin-bottom: 20px; /* Añade margen inferior */
}

/* Botones de reacción */
.reaction-buttons button {
    margin-right: 10px; /* Añade margen derecho entre botones */
}

/* Título principal */
.titulo {
    text-align: center; /* Añadí 'center' como ejemplo */
}

.footer {
    font-size: 0.9em; /* Tamaño de fuente más pequeño para el pie de página */
    font-family: Arial Black, sans-serif; /* Fuente más impactante para el pie de página */
    text-align: center;
    color: navy; /* Color azul marino para el texto del pie de página */
  }